name: Lint Commit Messages
on: [pull_request]

jobs:
  check-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Commits Check
        uses: wagoid/commitlint-github-action@v6
